.has-search {  
    display: flex;
    flex-flow: row wrap;
    align-items: center;
  }
  
  .has-search input {
    vertical-align: middle;
    margin: 5px 10px 5px 5px;
    padding: 10px;
  }

  #space{
    padding-top: 10px;
    display: flex;
    align-items: center;

  }
    
  @media (max-width: 800px) {
    .has-search input {
      margin: 10px 0;
    }
    
    .has-search {
      flex-direction: column;
      align-items: stretch;
    }
  }

option{
    color: black;
}