<div class=" content">
    <div class=" row">
        <div class=" col-md-12">
            <div class=" card card-plain">
              <div class=" card-header">
                <h4 class=" card-title">List of Attendance</h4>
                <p class=" category">List of Member's Attendance within the Database</p>
                <div class="row justify-content-between">
                    <div class="col has-search">
                        
                        <div class="d-inline" >
                        <input type="hidden" class="form-control d-inline" placeholder="Search" style="width: 250px;" [(ngModel)]="memTerm">
                        <input type="text" class="form-control d-inline" placeholder="Search" style="width: 250px;" [(ngModel)]="search">

                        <div class="form-group d-inline">
                            Date
                            <input class="form-control d-inline" type="date" style="width: 160px;" [(ngModel)]="model.startdate">
                        </div>
                        <div class="form-group d-inline">
                            To
                            <input class="form-control d-inline" type="date" style="width: 160px;" [(ngModel)]="model.enddate">
                        </div>
                        
                        </div>
                    </div>
                    <div class="col-md-4 text-right d-inline" style="margin-right: 20px;">
                        <button class="btn btn-danger btn-sm" (click)="startSearch(model.startdate, model.enddate)">Search</button>
                        <button class="btn btn-default btn-sm" (click)="clearSearch()">Clear</button>

                        <div ngbDropdown class="btn-group d-inline">
                            <button class="btn btn-info btn-sm" id="dropdownBasic2" ngbDropdownToggle>Export As</button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2">
                              <button ngbDropdownItem (click)="exportexcel()">Excel</button>
                              <!-- <button ngbDropdownItem (click)="downloadPDF()">PDF</button> -->
                            </div>
                    </div>
                </div>
            </div>
              <div class=" card-body">
                <div class="table-hover">
                  <table class=" table tablesorter" id="content" #content>
                    <thead class=" text-primary">
                      <tr>
                        <th>Participants</th>
                        <th>Date</th>
                        <th>Temperature</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let attendance of attendanceService.attendance | attendanceFilter: tempSearch | paginate: { id: '_id',
                      itemsPerPage: 7,
                      currentPage: page,
                      totalItems: totalRecords }">
                        <td>{{attendance.participant}}</td>
                        <td>{{attendance.date | date: "yyyy/M/dd"}}</td>
                        <td>{{attendance.temperature}}°C</td>
                      </tr>
                    </tbody>
                  </table>
                  <pagination-controls  id="_id"
                  (pageChange)="page = $event"
                  directionLinks="true"
                  autoHide="true"
                  responsive="true"
                  previousLabel="Previous"
                  nextLabel="Next"
                  screenReaderPaginationLabel="Pagination"
                  screenReaderPageLabel="page"
                  screenReaderCurrentLabel="You're on page">
                </pagination-controls>
                </div>
              </div>
            </div>
          </div>
      </div>
</div>




<ng-template #content let-modal>
    <div class="modal-content ">
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Attendance Form</h4>
          <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #attendanceForm="ngForm" (ngSubmit)="onSubmit(attendanceForm)">
            
            <input type="hidden" name="_id" class="form-control" #_id="ngModel" [(ngModel)]="model._id">
            <input type="hidden" name="userid" class="form-control" #userid="ngModel" [(ngModel)]="model.userid">
            <input type="hidden" name="classname" class="form-control" #classname="ngModel" [(ngModel)]="model.classname">
    
        <div class="form-group">
            <label for="membername">Member Name</label>
            <div class="input-group">
                <select id="membername" class="form-control" placeholder="Member Name" name="membername" #membername="ngModel" [(ngModel)]="model.membername" [ngClass]="{'is-invalid' : membername.touched && !membername.valid }" required>
                    <option *ngFor="let mem of membersService.members | usersmem: memTerm :'classname'">{{mem.firstname + space + mem.lastname + space + mem.othername}}</option>
                </select>
                <div *ngIf="membername.invalid && (membername.dirty || membername.touched)" class="invalid-feedback">
                    <div *ngIf="membername.errors.required">
                    This field is required
                    </div>
                </div>
            </div>
        </div>
    
        <div class="form-group">
            <label for="date">Date</label>
            <div class="input-group">
                <input id="date" name="date" class="form-control" #date="ngModel" [(ngModel)]="model.date" type="date"
                    autocomplete="off" [ngClass]="{'is-invalid' : date.touched && !date.valid }" required/>
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="invalid-feedback">
                    <div *ngIf="date.errors.required">
                    This field is required
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="temperature">Temperature</label>
            <div class="input-group">
                <input id="temperature" name="temperature" class="form-control" #temperature="ngModel" [(ngModel)]="model.temperature" type="number"
                    autocomplete="off" [ngClass]="{'is-invalid' : temperature.touched && !temperature.valid }" required/>
                    <div *ngIf="temperature.invalid && (temperature.dirty || temperature.touched)" class="invalid-feedback">
                    <div *ngIf="temperature.errors.required">
                    This field is required
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="event">Event / Service</label>
            <div class="input-group">
                <select id="event" class="form-control" placeholder="Event / Service" name="event" #event="ngModel" [(ngModel)]="model.event" [ngClass]="{'is-invalid' : event.touched && !event.valid }" required>
                    <option>1st Service</option>
                    <option>2nd Service</option>
                </select>
                <div *ngIf="event.invalid && (event.dirty || event.touched)" class="invalid-feedback">
                  <div *ngIf="event.errors.required">
                  This field is required
                  </div>
               </div>
            </div>
        </div>

        <div class="form-group">
            <label for="present">Present</label>
            <div class="input-group">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="present" id="Yes" value="true" [(ngModel)]="model.present" class="check" checked>
                    Yes
                  </div>
            </div>
            <div class="input-group">
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="present" id="No"  value="false" class="check" [(ngModel)]="model.present">
                    No
                  </div>
            </div>
        </div>


    
    
          </form>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-info" (click)="onSubmit(attendanceForm)">Save</button>
          <button type="button" class="btn btn-outline-dark" (click)="modal.close('Cancel click')">Cancel</button>
        </div>
    </div>
      </ng-template>